/* 
#####################################################################################
Fonts Styles 
#####################################################################################
*/
@font-face { 
    font-family: BungeeHairlineRegular;
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    src:    local('BungeeHairline Regular'),
            local('BungeeHairline-Regular'),
            url('fonts/BungeeHairline-Regular.ttf') format('truetype');
}
@font-face { 
    font-family: CourierPrimeRegular;
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    src:    local('CourierPrime Regular'),
            local('CourierPrime-Regular'),
            url('fonts/CourierPrime-Regular.ttf') format('truetype');
}
